body {

    margin: 0%;
    background-color: #F2F2F2;
    /* background-color: #09288A; */
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    background-color: #ffffff;
    height: auto;
    margin: auto;
    margin-top: 5%;
    width: 60%;
    padding: 1% 5%;
}

.word .word-searched {

    color: #09288A;
}

.word h1, h2, p{

    margin: 2.5% 2%;
}

.word h1 {

    font-size: 8vh;
}

.word h2 {

    font-size: 4vh;
}

.synonyms p {

    color: #FE2F2F;
    font-size: 2.5vh;
}

.back-btn input{

    margin: auto;
}

.meaning {

    line-height: 25px;
}

input[type="button"] {

    margin: 8% 45%;
    color: #ffffff;
    background-color: #09288A;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: none;
    border: none;
    font-weight: 600;
}

.back-btn input[type="button"]:hover {

    cursor: pointer;
}

footer {

    width: auto;
    padding: 0.5%;
    margin-top: 2%;
    font-weight: 500;
    color: #ffffff;
    background-color: #09288A;
    text-align: center;
}